<!-- {{pagedata|json}} -->

<table>
  <tr>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Birthday</td>
    <td>Gender</td>
  </tr>
  <tr *ngFor="let e of pagedata.data">
    <td>{{e.firstname+ ' ' +e.lastname}}</td>
    <td>{{e.email}}</td>
    <td>{{e.phone}}</td>
    <td>{{e.birthday |date:'short'}}</td>
    <td>{{e.gender}}</td>
  </tr>
</table>
<table>
  <tr>
    <td>userId</td>
    <td>id</td>
    <td>title</td>
    <td>completed</td>
    
  </tr>
  <tr *ngFor="let e of pagedata2">
    <td>{{e.userId}}</td>
    <td>{{e.id}}</td>
    <td>{{e.title}}</td>
    <td>{{e.completed}}</td>
  </tr>
</table>
