<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" formControlName="name"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" formControlName="email"></td>
      </tr>
      <tr>
        <td>Website</td>
        <td><input type="text" formControlName="website"></td>
      </tr>
      <tr>
        <td>Contact Number</td>
        <td><input type="text" formControlName="contact"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Save Data</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{{display|json}}
