<ul>
  <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
  <li><a routerLink="/user" routerLinkActive="active">User</a></li>
  <li><a routerLink="/learn" routerLinkActive="active">Learn</a></li>
  <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  <li><a routerLink="/employee" routrLinkActive="active">Employee</a></li>
  <li><a routerLink="/ober-pro" routerLinkActive="active">Obser Promise</a></li>
  <li><a routerLink="/http-req" routerLinkActive="active">HTTP Request</a></li>
  <li><a routerLink="/http-memapi" routerLinkActive="active">Member Profile API</a></li>
  <li><a routerLink="/modal-form" routerLinkActive="active">Modal Form</a></li>
  <li><a routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a></li>
  <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  <li><a routerLink="/student" routerLinkActive="active">Student</a></li>

</ul>
<router-outlet></router-outlet>
