<h2>Subject vs ReplaySubject vs BehaviorSubject</h2>

<button class="accordion" [ngClass]="{'active': selTab == 1}" (click)="OnTabClick(1)">Subject</button>
<div class="panel" [ngClass]="{'tab-block': selTab == 1, 'tab-none': selTab != 1}">
  <p>A subject is like a turbocharged observable. It can almost be thought of an event message pump in that everytime a value is emitted, all subscribers receive the same value. The same analogy can be used when thinking about “late subscribers”. A Subject does not have a memory, therefore when a subscriber joins, it only receives the messages from that point on (It doesn’t get backdated values).</p>
  <button (click)="runSubject()">RUN SUBJECT</button>
</div>

<button class="accordion" [ngClass]="{'active': selTab == 2}" (click)="OnTabClick(2)">BehaviorSubject</button>
<div class="panel" [ngClass]="{'tab-block': selTab == 2, 'tab-none': selTab != 2}">
  <p>A BehaviorSubject can sometimes be thought of a type of ReplaySubject, but with additional functionality (Or limitations depending on how you look at it).

    If you think of a BehaviorSubject as simply being a ReplaySubject with a buffersize of 1 (That is, they will only replay the last value), then you’re half way there to understanding BehaviorSubjects. The one large caveat is that BehaviourSubjects *require* an initial value to be emitted.</p>
    <button (click)="runBehaviorSubject()">RUN Behavior SUBJECT</button>
</div>

<button class="accordion" [ngClass]="{'active': selTab == 3}" (click)="OnTabClick(3)">ReplaySubject</button>
<div class="panel" [ngClass]="{'tab-block': selTab == 3, 'tab-none': selTab != 3}">
  <p>That’s where ReplaySubject comes in. Imagine the same code, but using a ReplaySubject .</p>
  <button (click)="runReplaySubject()">RUN Replay SUBJECT</button>
</div>
