<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" formControlName="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" formControlName="Password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="Submit">Save Data</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{{display|json}}