<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" formControlName="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" formControlName="Password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="Submit">Save Data</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <form [formGroup]="form"(ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>UserId</td>
                <td><input type="text" formControlName="UserId"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" formControlName="Id"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" formControlName="Title"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Completed</td>
                <td><input type="text" formControlName="Completed"></td>
            </tr>
        </table>


    </form>
</div>
